ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 360px;
  height: auto;
}

.gallery {
  margin: 24px auto;
  max-width: 1128px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
